<div class="auth-container">

  <section class="left-panel">

    <div class="overlay"></div>

    <div class="content">

      <span class="badge">

        Healthcare Platform

      </span>

      <h1>

        ClinicCare

      </h1>

      <p>

        Manage appointments,
        doctors, patients,
        and medical records
        in one modern platform.

      </p>

      <div class="stats">

        <div class="stat-card">

          <h3>
            24/7
          </h3>

          <span>
            Online Access
          </span>

        </div>

        <div class="stat-card">

          <h3>
            Secure
          </h3>

          <span>
            Medical Data
          </span>

        </div>

      </div>

    </div>

  </section>

  <section class="right-panel">

    <div class="form-container">

      <router-outlet />

    </div>

  </section>

</div>